<body>
    <section class="forms">
        <div class="allForm">
            <form class="formItens" (ngSubmit)="editItem()" [formGroup]="homeEdit" #formDir="ngForm">
                <h1 class="title">HOME PAGE EDIT</h1>
                <div class="formTop">

                    <div class="form-group">
                        <div class="input">
                            <input type="text" id="title" placeholder="Insira o titulo da página" formControlName="title" required/>
                            <p *ngIf="isInvalidControl('title')">Erro no título</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input">
                            <textarea type="text" id="description" placeholder="Insira a descrição da página" formControlName="description" required rows="5" cols="30"></textarea>
                            <p *ngIf="isInvalidControl('description')">Erro na descrição</p>
                        </div>
                    </div>
                </div>
                <div class="bottomAll">
                    <div class="formBottom">
                        <div class="form-group">
                            <div class="input imageInput">
                                <input class="img" type="file" id="imagem" formControlName="imagem" accept="image/*" (change)="uploadFile($event)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input">
                                <input class="alt" type="text" id="alt" placeholder="Insira o texto alternativo" formControlName="alt" required/>
                                <p *ngIf="isInvalidControl('alt')">Erro no texto alternativo</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input">
                                <input class="link" type="text" id="link" placeholder="Insira o link do bot" formControlName="link" required/>
                                <p *ngIf="isInvalidControl('link')">Erro no link</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!imagem">
                        <img class="preImage" [src]="this.home.botImg" />
                    </div>
                </div>
                <button class="sendButton" type="submit">Enviar</button>
            </form>
        </div>
    </section>
</body>