@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    height: 90vh;
    width: auto;
    background-color: #504c54;
    font-family: 'Cabin', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    position: relative;
}

.container{
    background-color: #403c44;
    height: 20%;
    width: 95%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
}

.container:hover{
    filter: brightness(90%);
}

.container:hover h1{
    filter: brightness(110%);
}

h1{
    font-size: clamp(40px, 5vw, 100px);
    color: #504c54;
}

.loading{
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
}

.loading img{
    height: 5vh;
    width: auto;
    z-index: 2;
}