<body>
    <nav>
        <div class="picstart">
            <a (click)="goBack()" class="pic" *ngFor="let outros of this.outros;">
                <img src="{{outros.botImg}}" alt="{{outros.alt}}">
            </a>
        </div>
        <div class="itens" *ngFor="let outros of this.outros;">
            <a href="{{outros.link}}" target="_blank" class="invite" *ngFor="let home of this.homes;">
                {{home.bottext}}
            </a>                
            <a class="command" (click)="goToCommands()" *ngFor="let foot of this.foots;">
                {{foot.commandsRouter}}
            </a>
        </div>
        <div class="algo dropdown" *ngIf="isLoggedIn()">
            <img class="dropbtn" src="https://cdn-icons-png.flaticon.com/512/2906/2906274.png" alt="Manager">
            <div class="dropdown-content">
                <a (click)="goToWebmanager()">Web Manager</a>
                <a (click)="goToItens()">Comandos</a>
                <a class="logout" (click)="logout()">Logout</a>
              </div>
        </div>
    </nav>
</body>