<body>
    <nav>
        <div class="picstart">
            <a (click)="goBack()" class="pic fadeIn" *ngFor="let outros of this.outros;">
                <img src="{{outros.botImg}}" alt="{{outros.alt}}">
            </a>
        </div>
        <div class="itens" *ngFor="let outros of this.outros;">
            <a href="{{outros.link}}" target="_blank" class="invite fadeIn" *ngFor="let home of this.homes;">
                {{home.bottext}}
            </a>                
            <a class="command fadeIn" (click)="goToCommands()" *ngFor="let foot of this.foots;">
                {{foot.commandsRouter}}
            </a>
        </div>
        <div class="algo dropdown" *ngIf="isLoggedIn()">
            <img class="dropbtn" src="https://cdn-icons-png.flaticon.com/512/2906/2906274.png" alt="Manager">
            <div class="dropdown-content">
                <a (click)="goToWebmanager()">Web Manager</a>
                <a (click)="goToItens()">Comandos</a>
                <a class="logout" (click)="logout()">Logout</a>
              </div>
        </div>
        <div class="hamburguer">
            <img src="./assets/images/menu.png" alt="menu" (click)="openNav()"/>
        </div>
    </nav>

    <nav class="hamburguerNav" *ngIf="isNavOpen" (click)="closeNav()">
        <ul *ngFor="let outros of this.outros;">
            <a href="{{outros.link}}" target="_blank" class="invite2 fadeIn" *ngFor="let home of this.homes;">
                {{home.bottext}}
            </a>                
            <a class="command2 fadeIn" (click)="goToCommands()" *ngFor="let foot of this.foots;">
                {{foot.commandsRouter}}
            </a>
            <div class="algo2" *ngIf="isLoggedIn()">  
                <a class="normal" (click)="goToWebmanager()">Web Manager</a>
                <a class="normal" (click)="goToItens()">Comandos</a>
                <a class="logout" (click)="logout()">Logout</a>
            </div>
        </ul>
    </nav>
</body>