<body>
    <section class="forms">
        <div class="allForm fadeIn">
            <form class="formItens" (ngSubmit)="editItem()" [formGroup]="footerEdit" #formDir="ngForm">
                <h1 class="title">FOOTER EDIT</h1>
                <div class="formTop">

                    <div class="form-group">
                        <div class="input">
                            <input type="text" id="title" placeholder="Insira a mini descrição" formControlName="miniD" required/>
                            <p *ngIf="isInvalidControl('miniD')">Erro na mini descrição</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input">
                            <input type="text" id="title" placeholder="Insira um texto sobre direitos" formControlName="rights" required/>
                            <p *ngIf="isInvalidControl('rights')">Erro nos direitos</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input">
                            <input type="text" id="title" placeholder="Insira um texto sobre afiliado" formControlName="afiliated" required/>
                            <p *ngIf="isInvalidControl('afiliated')">Erro no texto sobre afiliado</p>
                        </div>
                    </div>
                    <div class="bottom">

                        <div class="form-group">
                            <div class="input">
                                <input type="text" id="title" placeholder="Insira o texto para homeRouter" formControlName="homeRouter" required/>
                                <p *ngIf="isInvalidControl('homeRouter')">Erro no texto de homeRouter</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input">
                                <input type="text" id="title" placeholder="Insira o texto para commandsRouter" formControlName="commandsRouter" required/>
                                <p *ngIf="isInvalidControl('commandsRouter')">Erro no texto de commandsRouter</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <button class="sendButton" type="submit">Enviar</button>
            </form>
        </div>
    </section>
</body>