<head>
    <meta name="description" content="Descubra o melhor bot para estudar programação no Discord!">
  </head>

<body>
    <main>
        <div *ngIf="!this.homesLoaded" class="loading">
            <img src="./assets/images/spinner.gif" alt="loading-gif">
        </div>
        <section class="about">
            <article class="textAbout">
                <h1 class="fadeIn" *ngFor="let home of this.homes;">{{home.title}}</h1>
                <p class="description fadeIn" *ngFor="let home of this.homes;">
                    {{home.description}}
                </p>
                <div class="botao fadeIn" *ngFor="let outros of this.outros;">
                    <a href="{{outros.link}}" target="_blank" class="botaoText" *ngFor="let home of this.homes;">
                        {{home.bottext}}
                    </a>                    
                </div>
            </article>
            <article class="botImage fadeIn" *ngFor="let outros of this.outros;">
                <img src="{{outros.botImg}}" alt="{{outros.alt}}">
            </article>
        </section>

        <section class="commands">      
            <article class="command" *ngFor="let item of this.comandos | slice:10:14; let i = index" [ngClass]="{'reverse-row': i % 2 != 0}">
                <div class="howToCommand">
                    <div class="title">
                    <p>{{ item.nome }}</p>
                    <div *ngIf="!this.comandosLoaded" class="loading">
                        <img src="./assets/images/spinner.gif" alt="loading-gif">
                    </div>  
                    </div>
                <p class="codeDescription">{{ item.descricao }}</p>
                </div>
                <div class="picExample">
                    <img [ngClass]="{'examplePicRight': i % 2 != 0, 'examplePicLeft': i % 2 == 0}" src="{{item.imgUrl}}" alt="{{item.alt}}">
                    <div *ngIf="!this.comandosLoaded" class="loading">
                        <img src="./assets/images/spinner.gif" alt="loading-gif">
                    </div>
                </div>
            </article>
        </section>
        
        <section class="posAbout">
            <svg class="svg" viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg" style="transform: scale(1, -1); width: 100%; height: 100%;">
                <path data-v-55cc7a29="" fill="#403c44" d="M0,192L30,181.3C60,171,120,149,180,133.3C240,117,300,107,360,90.7C420,75,480,53,540,48C600,43,660,53,720,69.3C780,85,840,107,900,101.3C960,96,1020,64,1080,80C1140,96,1200,160,1260,170.7C1320,181,1380,139,1410,117.3L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
            </svg>
        </section>
        
        
        
    </main>
</body>