<body>
    <main>
        <div *ngIf="!this.homesLoaded" class="loading">
            <img src="./assets/images/spinner.gif" alt="loading-gif">
        </div>
        <section class="about">
            <article class="textAbout" >
                <h1 *ngFor="let home of this.homes;">{{home.title}}</h1>
                <p class="description" *ngFor="let home of this.homes;">
                    {{home.description}}
                </p>
                <div class="botao" *ngFor="let outros of this.outros;">
                    <a href="{{outros.link}}" target="_blank" class="botaoText" *ngFor="let home of this.homes;">
                        {{home.bottext}}
                    </a>                    
                </div>
            </article>
            <article class="botImage"  *ngFor="let outros of this.outros;">
                <img src="{{outros.botImg}}" alt="{{outros.alt}}">
            </article>
        </section>

        <section class="commands">      
            <article class="command" *ngFor="let item of this.comandos | slice:7:14; let i = index" [ngClass]="{'reverse-row': i % 2 != 0}">
            <div class="howToCommand">
                <h1 class="title">
                <p>{{ item.nome }}</p>
                <div *ngIf="!this.comandosLoaded" class="loading">
                    <img src="./assets/images/spinner.gif" alt="loading-gif">
                </div>  
            </h1>
            <p class="codeDescription">{{ item.descricao }}</p>
            </div>
            <div class="picExample">
                <img src="{{item.imgUrl}}" alt="{{item.alt}}">
                <div *ngIf="!this.comandosLoaded" class="loading">
                    <img src="./assets/images/spinner.gif" alt="loading-gif">
                </div>
            </div>
            </article>
        </section>
        
        <section class="posAbout">
            
        </section>
    </main>
</body>