<head>
    <meta name="description" content="Descubra o melhor bot para estudar programação no Discord!">
  </head>

<body>
    <main>
        <div *ngIf="!this.homesLoaded" class="loading">
            <img src="./assets/images/spinner.gif" alt="loading-gif">
        </div>
        <section class="about">
            <article class="textAbout">
                <h1 class="fadeIn" *ngFor="let home of this.homes;">{{home.title}}</h1>
                <p class="description fadeIn" *ngFor="let home of this.homes;">
                    {{home.description}}
                </p>
                <div class="botao fadeIn" *ngFor="let outros of this.outros;">
                    <a href="{{outros.link}}" target="_blank" class="botaoText" *ngFor="let home of this.homes;">
                        {{home.bottext}}
                    </a>                    
                </div>
            </article>
            <article class="botImage fadeIn" *ngFor="let outros of this.outros;">
                <img src="{{outros.botImg}}" alt="{{outros.alt}}">
            </article>
        </section>

        <section class="commands">      
            <article class="command" *ngFor="let item of this.comandos | slice:10:14; let i = index" [ngClass]="{'reverse-row': i % 2 != 0}">
                <div class="howToCommand">
                    <div class="title">
                    <p>{{ item.nome }}</p>
                    <div *ngIf="!this.comandosLoaded" class="loading">
                        <img src="./assets/images/spinner.gif" alt="loading-gif">
                    </div>  
                    </div>
                <p class="codeDescription">{{ item.descricao }}</p>
                </div>
                <div class="picExample">
                    <img [ngClass]="{'examplePicRight': i % 2 != 0, 'examplePicLeft': i % 2 == 0}" src="{{item.imgUrl}}" alt="{{item.alt}}">
                    <div *ngIf="!this.comandosLoaded" class="loading">
                        <img src="./assets/images/spinner.gif" alt="loading-gif">
                    </div>
                </div>
            </article>
        </section>
        
        <section class="posAbout"></section>
    </main>
</body>