<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <title>CodeBucket: Discord Bot</title>
    <meta name="description" content="Conheça CodeBucket, o melhor bot para estudar programação no Discord!">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3537716490214815"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <app-head></app-head>
    <router-outlet></router-outlet>
    <ng-toast></ng-toast>
    <app-footer></app-footer>
  </body>
</html>
