<body>
    <main>
        <section>
            <h1>Termos de Serviço</h1>
            <br>
            <p class="text">
                Este Acordo de Termos de Serviço é celebrado entre Emanuel Vinícius Sacoman ("Dono do Bot") e o usuário do bot CodeBucket no Discord (o "Bot").
            </p>
            
            <p class="text">
                Ao utilizar o Bot, o Usuário concorda em estar vinculado aos termos deste Acordo. Caso o Usuário não concorde com os termos deste Acordo, ele deve descontinuar imediatamente o uso do Bot.
            </p>
            
            <h2>Uso do Bot</h2>
            <p class="text">
                O Dono do Bot concede ao Usuário uma licença não-exclusiva, intransferível e limitada para utilizar o Bot exclusivamente para fins pessoais ou não-comerciais, incluindo atividades educacionais. Qualquer uso comercial requer a prévia e expressa autorização por escrito do Dono do Bot.
            </p>
            
            <h2>Uso Proibido</h2>
            <p class="text">
                O Usuário não poderá utilizar o Bot de forma que viole leis, regulamentos ou normas aplicáveis, ou que infrinja os direitos de terceiros. O Usuário também não poderá usar o Bot para fins comerciais sem a autorização expressa por escrito do Dono do Bot.
            </p>
            
            <h2>Limitação de Responsabilidade</h2>
            <p class="text">
                O Dono do Bot não será responsável por quaisquer danos resultantes do uso ou da incapacidade de uso do Bot, incluindo, mas não se limitando a, danos por perda de lucros, perda de dados ou outras perdas intangíveis.
            </p>
            
            <h2>Modificações no Bot</h2>
            <p class="text">
                O Dono do Bot reserva-se o direito de modificar ou descontinuar o Bot a qualquer momento. O Usuário entende e concorda que o Dono do Bot não será responsável por qualquer modificação, suspensão ou descontinuação do Bot. O Dono do Bot fará esforços razoáveis para notificar os Usuários em caso de mudanças significativas.
            </p>
            
            <h2>Propriedade Intelectual</h2>
            <p class="text">
                O Bot e todos os direitos de propriedade intelectual sobre ele são e permanecerão como propriedade do Dono do Bot. O Usuário concorda em não copiar, modificar ou distribuir o Bot ou qualquer parte dele sem o consentimento expresso por escrito do Dono do Bot.
            </p>
            
            <h2>Indenização</h2>
            <p class="text">
                O Usuário concorda em indenizar e isentar o Dono do Bot, suas afiliadas e seus respectivos diretores, executivos, funcionários e agentes de quaisquer reclamações, danos, responsabilidades, custos e despesas, incluindo honorários advocatícios razoáveis, decorrentes do uso do Bot pelo Usuário ou de qualquer violação deste Acordo.
            </p>
            
            <h2>Rescisão</h2>
            <p class="text">
                Este Acordo pode ser rescindido por qualquer uma das partes a qualquer momento e por qualquer motivo. Após a rescisão, o Usuário deve cessar imediatamente todo o uso do Bot.
            </p>
            
            <h2>Lei Aplicável e Resolução de Disputas</h2>
            <p class="text">
                Este Acordo será regido e interpretado de acordo com as leis do Estado de São Paulo, Brasil. Qualquer disputa decorrente deste Acordo deverá ser resolvida por arbitragem, conforme as regras da [Provedor de Arbitragem]. As partes concordam em tentar resolver qualquer disputa inicialmente por meio de mediação.
            </p>
            
            <h2>Acordo Integral</h2>
            <p class="text">
                Este Acordo constitui o acordo integral entre as partes e substitui todos os acordos ou representações anteriores ou contemporâneos, sejam escritos ou orais, relacionados ao Bot.
            </p>
            
            <h2>Política de Privacidade</h2>
            <p class="text">
                O Bot pode coletar dados para fins de melhoria e manutenção de seu serviço. O Usuário concorda com a coleta e processamento de dados conforme descrito na Política de Privacidade, que pode ser acessada em [link da Política de Privacidade].
            </p>
            
            <h2>Confirmação de Leitura e Concordância</h2>
            <p class="text">
                Ao utilizar o Bot, o Usuário confirma que leu este Acordo, compreende-o e concorda em estar vinculado aos seus termos e condições.
            </p>
        </section>
    </main>
</body>
