<head>
    <meta name="description" content="Aprenda quais são as ferramentas que o bot apresenta!">
</head>

<body>
    <section class="all">
        <div *ngIf="!this.comandosLoaded2" class="loading">
            <img src="./assets/images/spinner.gif" alt="loading-gif">
        </div> 
        <div class="info fadeIn" *ngFor="let comandos of this.comandos2;">
           <h1>{{comandos.title}}</h1>
           <p>{{comandos.description}}</p>
        </div>
        <div class="bottom">
            
            <div class="search-container fadeIn" *ngFor="let comandos of this.comandos2;">
                <div class="comandosearch">{{comandos.search}}</div>
                <form>
                  <input type="text" placeholder="{{comandos.placeholder}}" (input)="search($event)">
                </form>
                <div class="buttons">
                    <div class="leftbutton button" (click)="showAll()">{{comandos.lb}}</div>
                    <div class="rightbutton button" (click)="hideAll()">{{comandos.rb}}</div>
                </div>
              </div>

            <div class="commands">
                <div class="box fadeInRight" *ngFor="let item of this.comandToShow; let i = index" (click)="showDescription(item)">
                    <div class="title">
                        <div class="left">
                            <div class="imagem" *ngFor="let comandos of this.comandos2;">
                                <img src="{{comandos.dropImg}}" alt="Down Arrow">
                            </div>
                            <h3 class="commandname">{{item.nome}}</h3>
                        </div>
                        <div class="right" *ngIf="item.showDescriptionFlag">
                            <div class="cooldown">{{item.cooldown}}</div>
                        </div>
                    </div>
                    <div class="description" *ngIf="item.showDescriptionFlag">
                        <div class="bar"></div>
                        <div class="descriptionItens">
                            <p>{{item.descricao}}</p>
                            <img class="fadeIn" src="{{item.imgUrl}}" alt="{{item.alt}}">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <section class="posAbout">
            
        </section>
    </section>
</body>