<body>
    <section class="all">
        <div class="info" *ngFor="let comandos of this.comandos2;">
           <h1>{{comandos.title}}</h1>
           <p>{{comandos.description}}</p>
        </div>
        <div class="bottom">
            
            <div class="search-container" *ngFor="let comandos of this.comandos2;">
                <h1>{{comandos.search}}</h1>
                <form action="">
                  <input type="text" placeholder="{{comandos.placeholder}}" name="search">
                </form>
              </div>

            <div class="commands">
                <div *ngIf="!this.comandosLoaded" class="loading">
                    <img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" alt="loading-gif">
                </div> 
                <div class="box" *ngFor="let item of this.comandos; let i = index" (click)="showDescription(item)">
                    <div class="title">
                        <div class="left">
                            <div class="imagem">
                                <img src="https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png" alt="Down Arrow">
                            </div>
                            <h3 class="commandname">{{item.nome}}</h3>
                        </div>
                        <div class="right" *ngIf="item.showDescriptionFlag">
                            <div class="cooldown">{{item.cooldown}}</div>
                        </div>
                    </div>
                    <div class="description" *ngIf="item.showDescriptionFlag">
                        <div class="bar"></div>
                        <p>{{item.descricao}}</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>