@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    height: auto;
    width: auto;
    background-color: #504c54;
    font-family: 'Cabin', sans-serif;
}

.all{
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    position: relative;
}

.info{
    height: fit-content;
    background-color: #403c44;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-inline: 2%;
    border-radius: 5px;
    padding: 1%;
    gap: 3vh;
}

.info h1, .search-container h1{
    font-size: clamp(18px, 3vw, 20px);
    color: #fff;
}

.info p{
    font-size: clamp(16px, 3vw, 18px);
    color: #d3be97;
    text-wrap: pretty;
    line-height: 1.5;
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 3vh;
    margin: 2%;
}

.search-container{
    border-radius: 5px;
    padding: 10px;
}

.search-container{
    background-color: #403c44;
}

.commands {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    min-height: 30vh;
    position: relative;
}

.box{
    background-color: #403c44;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
}

.box:hover .commandname{
    color: #ffbc3c;
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    height: fit-content;
    width: fit-content;
    gap: 3vh;
}

.search-container input{
    width: 100%;
    height: clamp(18px, 3vw, 20px);
    font-size: clamp(18px, 3vw, 20px);
    border-radius: 5px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title .imagem{
    width: 1.5rem;
}

.imagem img{
    width: 100%;
    height: auto;
}

.left, .right{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.commandname{
    font-size: clamp(16px, 5vw, 20px);
    color: #d3be97;
    background-color: #504c54;
    text-wrap: nowrap;
    padding-inline: 0.5rem;
    padding-block: 0.1rem;
    border-radius: 3px;
    text-transform: lowercase;
}

.cooldown{
    font-size: clamp(12px, 3vw, 16px);
    background-color: #ffbc3c;
    color: #fff;
    text-wrap: nowrap;
    padding: 0.2rem;
    border-radius: 3px;
}

.bar{
    background-color: #504c54;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin-block:  1rem;
}

.descriptionItens {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
}

.description p {
    color: #d3be97;
    font-size: clamp(16px, 2vw, 20px);
}

.loading{
    position: absolute;
    width: auto;
    background-color: #504c54;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.loading img{
    height: 5vh;
    width: auto;
    z-index: 2;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.buttons .button {
    height: 100%;
    font-size: clamp(14px, 2vw, 18px);
    color: #fff;
    padding: 3%;
    cursor: pointer;
    border-radius: 3px;
    text-wrap: nowrap;
    background-color: #ffbc3c;
    transition: all 0.1s ease-in-out;
}

.buttons .button:hover{
    filter: brightness(110%);
}

.description img {
    width: clamp(150px, 25vw, 50vw);
    height: auto;
    border-radius: 10px;
    transition: all  .2s ease-in-out;
}

.description img:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}

.fadeIn{
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeInRight{
    animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.posAbout{
    background-color:  #504c54;
    height: 25vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 30px;
    padding: 2%;
}

@media screen and (max-width: 740px) {
    .bottom {
        flex-direction: column;
    }


}
