<body>
    <main>
        <section>
            <h1>Política de Privacidade</h1>
            <br>
            <h2>Introdução</h2>
            <p class="text">
                Esta Política de Privacidade descreve como coletamos, utilizamos, armazenamos e protegemos as informações dos usuários do bot CodeBucket no Discord (o “Bot”). Ao utilizar o Bot, você concorda com os termos desta Política de Privacidade.
            </p>
                
            <h2>Coleta de Informações</h2>
            <p class="text">
                Podemos coletar informações de duas maneiras: automaticamente, durante o uso do Bot, e fornecidas pelo usuário, conforme necessário para a funcionalidade do Bot.
            </p>

            <h2>1. Informações Coletadas Automaticamente</h2>
            <p class="text">
                Durante o uso do Bot, podemos coletar informações sobre o uso do Bot e a interação do usuário com ele, como mensagens, comandos executados e IDs de usuários ou servidores. Essas informações são coletadas para melhorar o funcionamento e a segurança do Bot.
            </p>

            <h2>2. Informações Fornecidas pelo Usuário</h2>
            <p class="text">
                Quando o usuário utiliza comandos específicos, o Bot pode solicitar informações adicionais para personalizar a experiência ou fornecer serviços. Essas informações são usadas exclusivamente para a execução dos comandos e não são compartilhadas ou armazenadas além do necessário.
            </p>

            <h2>Uso das Informações</h2>
            <p class="text">
                As informações coletadas são utilizadas para as seguintes finalidades:
            </p>
            <ul>
                <li>Fornecer, operar e melhorar o Bot.</li>
                <li>Personalizar a experiência do usuário, incluindo respostas específicas a comandos.</li>
                <li>Manter a segurança e a estabilidade do Bot.</li>
                <li>Realizar análises e monitoramento para entender o uso do Bot e otimizar seu desempenho.</li>
            </ul>
            
            <h2>Compartilhamento de Informações</h2>
            <p class="text">
                Não compartilhamos informações pessoais de usuários com terceiros, exceto:
            </p>
            <ul>
                <li>Quando exigido por lei ou para cumprir processos legais válidos.</li>
                <li>Para proteger os direitos, propriedade e segurança do Bot, de nossos usuários ou do público.</li>
            </ul>

            <h2>Armazenamento e Segurança das Informações</h2>
            <p class="text">
                As informações coletadas são armazenadas de maneira segura, visando proteger contra acessos não autorizados, uso indevido, divulgação ou modificação. Implementamos medidas técnicas e organizacionais para garantir a proteção e privacidade dos dados.
            </p>

            <h2>Retenção de Dados</h2>
            <p class="text">
                As informações coletadas pelo Bot são mantidas apenas pelo tempo necessário para cumprir as finalidades descritas nesta Política de Privacidade ou conforme exigido por lei. Quando não forem mais necessárias, as informações serão excluídas de forma segura.
            </p>

            <h2>Direitos do Usuário</h2>
            <p class="text">
                Os usuários têm o direito de solicitar o acesso, correção, exclusão ou limitação do uso de suas informações pessoais coletadas pelo Bot. Para exercer esses direitos, entre em contato conosco conforme descrito abaixo.
            </p>

            <h2>Alterações nesta Política de Privacidade</h2>
            <p class="text">
                Reservamo-nos o direito de modificar esta Política de Privacidade a qualquer momento. As alterações entrarão em vigor quando publicadas, e recomendamos que os usuários revisem periodicamente esta Política de Privacidade para estarem cientes de quaisquer atualizações.
            </p>
        </section>
    </main>
</body>
