@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    min-height: 100vh;
    width: auto;
    background-color: #504c54;
    font-family: 'Cabin', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.commandsList{
    background-color: #403c44;
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    border-radius: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 0.5%;
    border-radius: 10px;
    border-bottom: 0.5px dotted #504c54;
}

.item:hover{
    background-color: #47424b;
    scale: 1.005;
}

.values{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1%;
    font-size: clamp(12px, 2vw, 20px);
}

.values img {
    width: clamp(70px, 20vw, 150px);
    height: auto;
    transition: all 0.1s ease-in-out;
}

.values img:hover {
    scale: 1.5;
}

.button{
    width: fit-content;
    position: sticky;
    bottom: 0;
    border-radius: 50%;
    padding: 2%;
    align-self: flex-end;
}

.button img {
    width: clamp(50px, 20vw, 90px);
    height: auto;
    transition: all 0.05s ease-in-out;
}

.button img:hover{
    scale: 1.05;
    filter: brightness(1.1);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: clamp(22px, 5vw, 30px);
    color: #ffbc3c;
}

.separatedItens{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.nome, .alt{
    padding: 2%;
}

.descricao{
    width: 100%;
}

.right{
    width: 50%;
}

.fadeIn{
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media screen and (min-width: 500px) {
    .separatedItens{
        flex-direction: column;
    }
}