<body>
    <section class="commandsList fadeIn">
        <header>
            <p class="titulo fadeIn">LISTA DE ITENS</p>
        </header>
        <div class="item fadeIn" *ngFor="let comando of comandos; let i = index">
            <div class="values fadeIn" (click)="editar(comando)">
                <div class="separatedItens left fadeIn">
                    <p class="nome fadeIn">{{comando.nome}}</p>
                    <p class="descricao fadeIn">{{comando.descricao}}</p>
                    <img [src]="comando.imgUrl" alt="{{comando.alt}}">
                </div>
                
            </div>
        </div>
    </section>
    <div class="button fadeIn">
        <img (click)="irParaCadastro()" src="./assets/images/plusicon.png" alt="Botão para add">
    </div>
</body>